<html>

<body>

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/7publicar/style.css">
  </head>

  <title>Formulario</title>



  <link rel="stylesheet" href="/7publicar/Registro/RegistroStyle.css">

  <div id="registro2" class="registro2"
    style="width: 100%; height: 100%; position: absolute; z-index: 1000; background-color: rgba(0,0,0,0.5);">
    <div class="divPadre1"
      style="max-width: 400px; height: 500px; border: 1px #b1b1b1 solid; margin: auto; display: flex; flex-direction: column; align-items: center; border-radius: 20px; position: relative; z-index: 8; top: 50%; transform: translateY(-50%); box-shadow: 0px 0px 3px rgba(0,0,0,0.5); backdrop-filter: blur(15px); background-color: white;">

      <div class="divTitulo1" style="background-color: transparent;">
        <h2
          style="text-decoration: none; font-weight: bold; font-size: 22px; margin-bottom: 18px; margin-top: 20px; background-color: transparent; color: black;">
          Iniciar sesión</h2>
      </div>

      <div id="divInput2" style="position: relative; margin-bottom: 20px; background-color: transparent;">
        <div id="divInput2z"
          style="background-color: white; border-radius: 8px; background-color: transparent; position: relative;">
          <div class="a1" id="idInputTransp11"
            style="position: absolute; color: rgb(83, 118, 138); padding: 20px 0px 10px 0px; background-color: transparent; padding-left: 10px; transition: height 0.3s; transition: font-size 0.3s; height: 20px; line-height: 55px; margin-top: 0px; padding-top: 0px; user-select: none; z-index: 5; pointer-events: none; color: black;">
            Email</div>
          <input class="a2" id="idInputTransp112"
            style="padding: 20px 0px 2px 0px; font-size: 18px; background-color: transparent; z-index: 11; padding-left: 10px; border: 1px rgb(83, 118, 138) solid; border-radius: 8px; outline: none; width: 362px;"
            spellcheck="false" type="email">
          <p id="mensajeCorreo" style="color: red; font-size: 10px; position: absolute; line-height: 12px;"></p>
        </div>
      </div>

      <div id="divInput2b" style="position: relative; margin-bottom: 20px; background-color: transparent;">
        <div id="divInput2z"
          style="background-color: white; border-radius: 8px; background-color: transparent; position: relative;">
          <div class="a1" id="idInputTransp11b"
            style="position: absolute; color: rgb(83, 118, 138); padding: 20px 0px 10px 0px; background-color: transparent; padding-left: 10px; transition: height 0.3s; transition: font-size 0.3s; height: 20px; line-height: 55px; margin-top: 0px; padding-top: 0px; user-select: none; z-index: 5; pointer-events: none; color: black;">
            Contraseña</div>
          <input class="a2" id="idInputTransp112b"
            style="padding: 20px 0px 2px 0px; font-size: 18px; background-color: transparent; z-index: 11; padding-left: 10px; border: 1px rgb(83, 118, 138) solid; border-radius: 8px; outline: none; width: 362px;"
            type="password">
          <p id="mensajeContrasena" style="color: red; font-size: 10px; position: absolute; line-height: 12px;"></p>
        </div>
      </div>

      <p id="mensaje22" style="color:red; font-size: 17px;"></p>

      <button class="botonEnviar1" id="botonEnviar1"
        style="width: 360px; height: 40px; border-radius: 10px; color: white; margin-top: 10px; margin-bottom: 20px; padding: 15px 0px; line-height: 5px; border: none; cursor: pointer; font-size: 17px; z-index: 9;">Inicia
        Sesión</button>

      <a href="/reestablecer" style="text-decoration: none; background-color: transparent;">
        <p style="background-color: transparent; font-size: 17px;">¿Has olvidado tu contraseña?</p>
      </a>
      <p style="background-color: transparent; font-size: 17px;">¿No tengo cuenta aun? <a href="/registro"
          style="text-decoration: none; font-weight: bold; color: #0e4097; background-color: transparent; font-size: 17px; margin-left: -1px;">Regístrate</a>
      </p>

    </div>
  </div>



  <div style="display: flex; justify-content: space-between; background-color: blue; height: 50px;">

    <div style=" background-color: transparent; display: flex; align-items: center;">
      <h2 style="background-color: transparent;"><a href="/inicio"
          style="user-select: none; background-color: transparent; color:white; text-decoration: none; cursor: pointer;">Alquileres</a>
      </h2>
    </div>


    <div style="display: flex; background-color: transparent; align-items: center">
      <div style="background-color: transparent; display: flex;">
        <p id="textoPublicar" style="background-color: transparent; z-index: 2"><a href="/Publicar"
            style="background-color: transparent; color: white; text-decoration: none; cursor: pointer; font-size: 15px;">Publicar</a>
        </p>
        <div class="menu-btn" id="menuBtn2" style="margin-left: 10px; margin-right: 38px"><img
            src="/7publicar/menuHamburguesa/menu hamburguesa/menu(1).png"
            style="width: 25px; height: 25px;color: black; background-color: transparent; z-index: 100; position: absolute;">
        </div>
      </div>
      <div style="background-color: transparent;">
        <a id="registro1" 1href="../18login/1/index.html"
          style="background-color: red; color:white; text-decoration: none; padding: 6px 8px; border-radius: 6px; margin-right: 15px; ; margin-left: 14px; user-select: none; cursor: pointer; height: 24px; line-height: 24px; font-size: 17px;">Iniciar
          Sesión</a>
      </div>
    </div>

  </div>



  <link rel="stylesheet" href="/7publicar/menuHamburguesa/hamburguesa.css">

  <nav class="nav" style="background-color: rgba(0,0,255,0.99); height: 100%;">

    <div style="width: 100%; height: 50px;position: absolute; top: -50px; background: blue; z-index: 1;">
    </div>

    <ul style="background-color: transparent; height: 100%; z-index: 100">
      <li class="cerrar-menu" style="margin-top: 14px;"><a href="/inicio" style="color: white;">Inicio</a></li>
      <!--href="../14inicio/index.html"-->
      <hr
        style="border: none; height: 1px; width: 96%;; background-color: gray; margin: auto 0px; position: relative; top: -7px;">
      <li class="cerrar-menu"><a href="/mis-publicaciones" style="color: white;">Mis publicaciones</a></li>
      <hr
        style="border: none; height: 1px; width: 96%;; background-color: gray; margin: auto 0px; position: relative; top: -7px;">
      <li class="cerrar-menu"><a href="#" style="color: white;">Mis favoritos</a></li>
      <hr
        style="border: none; height: 1px; width: 96%;; background-color: gray; margin: auto 0px; position: relative; top: -7px;">
      <li class="cerrar-menu"><a href="#" style="color: white;">Mi cuenta</a></li>
      <hr
        style="border: none; height: 1px; width: 96%;; background-color: gray; margin: auto 0px; position: relative; top: -7px;">
      <li class="cerrar-menu"><a href="#" style="color: white;">Mensajes</a></li>
      <hr
        style="border: none; height: 1px; width: 96%;; background-color: gray; margin: auto 0px; position: relative; top: -7px;">
      <li class="cerrar-menu"><a href="/publicar" style="color: white;">Publicar</a></li>
      <hr
        style="border: none; height: 1px; width: 96%;; background-color: gray; margin: auto 0px; position: relative; top: -7px;">
      <li class="cerrar-menu" style="margin-top: 1px;"><a href="/alquileres" style="color: white;">Ultimas
          publicaciones</a></li>
      <hr
        style="border: none; height: 1px; width: 96%;; background-color: gray; margin: auto 0px; position: relative; top: -7px;">
      <li class="cerrar-menu"><a href="#" style="color: white;">Reportar</a></li>
      <hr
        style="border: none; height: 1px; width: 96%;; background-color: gray; margin: auto 0px; position: relative; top: -7px;">
      <li class="cerrar-menu" style="margin-top: 1px;"><a 1href="#" style="color: white;"
          onclick="mostrarConfirmacion()">Cerrar sesión</a></li>
      </ul">
  </nav>



  <style>
    .overlay3 {
      display: none;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5);
      z-index: 999;
    }

    .message3 {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: white;
      padding: 20px;
      border-radius: 5px;
      text-align: center;
      z-index: 1000;
    }
  </style>


  <div class="overlay3" id="overlay3" style="box-shadow: 0px 0px 3px rgba(0,0,0,0.5)">
    <div class="message3">
      <p style="color: black;">¿Estás seguro de que deseas cerrar sesión?</p>

      <div style="display: flex; justify-content: center; gap: 20px;">

        <div onclick="cerrarSesion3()"
          style="background-color: white; border: 1px solid black; width: 110px; height: 36px; font-size: 14px; line-height: 36px; cursor: pointer; border-radius: 5px">
          Cerrar sesión</div>

        <div onclick="ocultarConfirmacion3()"
          style="background-color: rgb(109, 192, 255); color: white; border: 1px solid black; width: 110px; height: 36px; font-size: 14px; line-height: 36px; cursor: pointer; border-radius: 5px">
          Cancelar</div>
      </div>
    </div>
  </div>


  <script>
    function mostrarConfirmacion() {
      document.getElementById("overlay3").style.display = "block";
    }

    function cerrarSesion3() {
      location.reload() 
      document.cookie.split(";").forEach(cookie => {  
        document.cookie = cookie.split("=")[0].trim() + "=; expires=Thu, 01 Jan 1970 00:00:00 GMT; path=/"
        document.cookie = cookie.split("=")[1].trim() + "=; expires=Thu, 01 Jan 1970 00:00:00 GMT; path=/"
      })
      ocultarConfirmacion3();
    }

    function ocultarConfirmacion3() {
      document.getElementById("overlay3").style.display = "none";
    }
  </script>


  <script src="/7publicar/muestraMenu.js"></script> 
  <script src="/7publicar/menuHamburguesa/hamburguesa.js"></script> 

  <script src="/7publicar/Registro/RegistroScript.js"></script>
  <script src="/7publicar/Registro/registroFetch.js"></script>


  <input id="csurf" type="hidden" name="_csrf" value="<%= csrfToken %>"> 



  <div style="display: flex; flex-direction: column; align-items: center;">

    <h2 style="margin-top: 50px; margin-bottom: 60px; font-size: 30px;">Completa tus Datos</h2>

    <div class="flex1">

      <div class="montos2">
        <h3>Precio</h3>
        <input placeholder="Precio" id="precioDepto" 1value="" class="direccion1 monto3">
      </div>

      <div class="montos2">
        <h3>Expensas</h3>
        <input placeholder="Expensas" id="expensasDepto" class="direccion1 monto3">
      </div>

    </div>


    <div class="flex1">

      <div class="ubicacionProvincia">
        <h3>Provincia</h3>
        <select class="provincia1" id="provincia1">
          <option value="">Provincia</option>
        </select>
      </div>

      <div class="ubicacionProvincia">
        <h3>Ciudad</h3>
        <select class="ciudad1" id="ciudad1">
          <option value="">Ciudad</option>
        </select>
      </div>

      <div class="ubicacionProvincia">
        <h3>Direccion</h3>
        <input placeholder="Ej: Avenida Belgrano" id="direccionDepto" class="direccion1">
      </div>

      <div class="ubicacionProvincia">
        <h3>Numero</h3> <!--Piso-->
        <input placeholder="Ej: 600" id="pisoDepto" class="piso1">
      </div>

    </div>


    
    <div> 
      <div id="latitud" style="display: none">12</div> 
      <div id="longitud" style="display: none">34</div> 
    </div>


    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <style>
      #mapid {
        height: 400px;
      }
    </style>


    <h3 style="margin-left: -270px;">Ubique el marcador en la posición
      aproximada del inmueble</h3>

    <div id="mapid" style="box-shadow: 0 0 1px black; height: 400px; width: 780px; margin-left: -20px"></div>
    <div id="lat" style="display: none;">Latitud: </div> <!--!!!!!!lo unico que importa en la coordenada-->
    <div id="lng" style="display: none;">Longitud: </div>
    <div id="locationName" style="display: none;"> Nombre del lugar: </div>

    <div style="margin-left: -645px; margin-top: 1px;" id="superiorInformacion">
      <div style="display: flex; height: 20px; margin-top:5px;">
        <div id="streetName" style="margin-right: 10px;"> Calle: - </div>
        <div id="streetNumber"> Número: - </div>
      </div>
      <div style="display: flex; height: 20px; margin-bottom:30px; ">
        <div id="provinceName" style="margin-right: 10px;""> Provincia: - </div>
    <div id=" cityName"> Ciudad: - </div>
      </div>
    </div>


    <input id="logg" style="display: none;" value="">
    <input id="latt" style="display: none;" value="">

    <input id="precioLink" style="display: none;" value="">
    <input id="expensaLink" style="display: none;" value="">
    <input id="direccionLink" style="display: none;" value="">
    <input id="numeroLink" style="display: none;" value="">

    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>


    <script>
      let valorA = document.getElementById('latt').value
      let valorB = document.getElementById('logg').value

      let pos11 = [valorA, valorB];


      var mymap = L.map('mapid').setView(pos11, 14);   //16   zoom 
      L.tileLayer('https://static1.sosiva451.com/Mapas/v2/{z}/{x}/{y}', {
      }).addTo(mymap);

      var marker = L.marker(pos11, {
        title: 'Marcador de ejemplo',
        draggable: true
      }).addTo(mymap);


      var latElement = document.getElementById('lat');
      var lngElement = document.getElementById('lng');
      var streetNameElement = document.getElementById('streetName');
      var streetNumberElement = document.getElementById('streetNumber');
      var cityNameElement = document.getElementById('cityName');
      var provinceNameElement = document.getElementById('provinceName');
      var countryNameElement = document.getElementById('countryName');

      marker.on('move', function (event) {
        var latlng = marker.getLatLng();
        latElement.textContent = 'Latitud: ' + latlng.lat.toFixed(6);
        lngElement.textContent = 'Longitud: ' + latlng.lng.toFixed(6);
      });

      const reverseGeocode = async (lat, lon) => {
        const url = `https://nominatim.openstreetmap.org/reverse?format=json&lat=${lat}&lon=${lon}`;
        try {
          const response = await fetch(url);
          const data = await response.json();
          if (data) {
            const address = data.address;
            const html = `
<div style="margin-left: 100px; 1display: block; position: absolute; height: 40px; 1top:40px; 1margin-top: 5px; 1margin-left:2px;">
<div style="display: flex; margin-left: -180px; height: 20px; margin-top:-70px;">
    <div id="streetName" style="margin-right: 10px; margin-left: 2px; 1width: fit-content;"> ${streetNameElement.innerHTML = 'Calle: ' + (address.road || 'No disponible') + ','} </div>
    <div id="streetNumber"> ${streetNumberElement.innerHTML = 'Número: ' + (address.house_number || 'No disponible')} </div> 
</div>
<div style="display: flex; margin-left: -180px; height: 20px; margin-bottom:30px; ">
    <div id="provinceName" style="margin-right: 10px; width: fit-content; margin-left: 2px;"> ${provinceNameElement.innerHTML = 'Provincia: ' + (address.state || 'No disponible') + ','} </div>
    <div id="cityName"> ${cityNameElement.innerHTML = 'Ciudad: ' + (address.city || address.town || address.village || 'No disponible')} </div>
</div>
</div>
`
            if (streetNameElement) {
              document.getElementById('superiorInformacion').innerHTML = html
              document.getElementById('mapid').style.marginBottom = "75px"
            }

          } else {
            locationNameElement.textContent = 'No se encontraron resultados para las coordenadas proporcionadas.';
          }
        } catch (error) {
          console.error('Error al realizar la solicitud:', error);
          locationNameElement.textContent = 'Error al realizar la solicitud.';
        }
      };

      marker.on('dragend', function (event) {
        var latlng = marker.getLatLng();
        reverseGeocode(latlng.lat, latlng.lng); 

        mymap.setView(latlng, mymap.getZoom());
      });
    </script>


    <div style="margin-left: -20px;">

      <h3>Descripcion</h3>
      <div>
        <textarea placeholder="Descripcion" id="descripcionDepto"></textarea>
      </div>

    </div>

    <div class="flex1">

      <div class="ubicacionProvincia">
        <h3>Ambientes</h3>
        <select class="direccion1 monto4" id="ambienteDepto">
          <option value="">Numero de ambientes</option> 
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5+</option>
        </select>
      </div>

      <div class="ubicacionProvincia">
        <h3>Dormitorio</h3>
        <select class="direccion1 monto4" id="dormitorioDepto">
          <option value="">Numero de dormitorios</option> 
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5+</option>
        </select>
      </div>

      <div class="ubicacionProvincia">
        <h3>Baños</h3>
        <select class="direccion1 monto4" id="bañosDepto">
          <option value="">Numero de baños</option> 
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5+</option>
        </select>
      </div>
    </div>


    <div class="flex1">

      <div class="ubicacionProvincia">
        <h3>Area del lugar</h3>
        <input placeholder="Numero del area en metros cuadrados, ej: 34" id="areaLugar" class="direccion1 monto3">
      </div>

      <div class="ubicacionProvincia">
        <h3>Años del inmueble</h3>
        <input placeholder="Ingrese los años del inmueble, ej: 20" id="edadDepto" class="direccion1 monto3">
      </div>

    </div>


    <div class="flex1">

      <div class="ubicacionProvincia">
        <h3>Tipo de operacion</h3>
        <select class="direccion1 monto3" id="operacionDepto">
          <option value="">Seleccione tipo de operacion</option>
          <option>Alquiler</option>
          <option>Venta</option>
          <option>Temporal</option>
        </select>
      </div>

      <div class="ubicacionProvincia">
        <h3>Tipo de vivienda</h3>
        <select class="direccion1 monto3" id="viviendaDepto">
          <option value="">Seleccione tipo de vivienda</option>
          <option>Departamento</option>
          <option>Casa</option>
          <option>PH</option>
          <option>Terreno</option>
          <option>Local</option>

        </select>
      </div>

    </div>

    <div id="mensajeConfirmacion"></div> 

    <form action="/publicar" method="post" enctype="multipart/form-data">
      <label for="imagenes"> Selecciona varias imagenes:</label>
      <input type="file" id="imagenes" multiple name="image" accept=".jpg, .jpeg, .png" required>

      <div style="display: flex; justify-content: center; margin-top: 30px;">
        <div 1type="submit" class="button" id="button" 1value="Subir formulario"
          style="border: none; box-shadow: 0 0 0 black;" imagenes>Subir formulario</div>
      </div>
    </form>

  </div>


  <script src="/7publicar/mostrarProvinciasCiudades.js"></script>
  <script src="/7publicar/provinciaYCiudad.js"></script>
  <script src="/7publicar/formulario.js"></script>
  <script src="/7publicar/fetch.js"></script>

  <script src="/7publicar/refrescaDatos.js"></script>

</body>

</html>