* {
	margin: 0px;
	font-family: hind, Arial, Helvetica, sans-serif;
}

#divInput2b,
#divInput2c,
#divInput2d {
	margin-top: 0px;
}

.botonEnviar1 {
	background-color: #0e4097;
}

.botonEnviar1:hover {
	background-color: #0a2f6e;
}

h5 {
	background-color: transparent;
	color: white;
}

input {
	color: black;
	text-decoration: none;
}

.registro2 {
	display: none;
}

@font-face {
	font-family: hind;
	src: url('/4inicio/fuentes/hind.regular.ttf') format('truetype')
}
